<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="letter.css">
</head>
<body>
  <table class="table-body" width="600">
    <tr>
      <td>
      <h1 style="text-align:center">
        <img class="tw-logo" src="https://www.thoughtworks.com/imgs/tw-logo.png" alt="ThoughtWorks Logo" width="200">
      </h1>
      </td>
    </tr>
    <tr class="spacer"><td>&nbsp;</td></tr>
    <tr>
      <td>
        <img class="banner" src="https://info.thoughtworks.com/rs/199-QDE-291/images/MFDinner-banner.jpg" alt="Exclusive Dialogue and Dinner with Martin Fowler" width="600">
      </td>
    </tr>
    <tr class="spacer"><td>&nbsp;</td></tr>
    <tr>
      <td>
        <p>Dear xxxx</p>
        <p>We are pleased to invite you to an exclusive dialogue and dinner session with renowned author and prominent software consultant, Martin Fowler.</p>
        <p>Martin will be sharing his thoughts on business transformation, innovation strategies, using technology to disrupt traditional business models, and his vision of how companies need to embrace technology in a changing business landscape.</p>
        <p>This will be a closed-door interactive session where you can discuss, share, and interact with Martin and other thought leaders in the industry.</p>
        <p class="rsvp">
          When: Tuesday, 4th October, 2016 <br/>
          Where: The Fullerton Bay Hotel, Port of Call <br />
          Time: 18:30 – 20:30 <br />
          RSVP: Please reply to this invitation to confirm your attendance
        </p>
      </td>
    </tr>
    <tr class="spacer"><td>&nbsp;</td></tr>
    <tr>
      <td>
        <table class="about" cellpadding="10">
          <tr>
            <td class="about-text">
              <h3>About Martin Fowler:</h3>
              Martin, prominent author, software consultant and speaker, brings two decades of experience helping corporations utilize object technology for mission-critical information systems. He was one of the authors of the Manifesto for Agile Software Development, and has written more than five books on software development. For more insights, visit www.martinfowler.com
            </td>
            <td class="about-image">
              <div style="">
                <img class="about-image__avatar" src="https://dynamic.thoughtworks.com/profiles/profile_image_avatar-67708d2ca6f5b96a5bcdbf30ea0a63d7.jpeg" alt="Martin Fowler" width="150">
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>