<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="thankTank.css">
</head>
<body>
  <table class="table-body" width="600">
    <tr>
      <td>
      <h1 style="text-align:center">
        <img style="min-height:auto;width:100%;border:0px;max-width:233px" src="https://ci4.googleusercontent.com/proxy/QVnLGUoRbZklFjvAaL-iu33WvY5a-pUDc-ezCTnNk0b0uaqmFhEjaNtnr73_ApzC5GkxJ7gIaYdbBV8jv38ESCQPZTWStx0c0LxfvtGkvyND1Bbm-AFOJGyGuzQ=s0-d-e1-ft#http://i1.cmail20.com/ei/i/29/827/112/180155/csfinal/ThankTank_Sml.png" alt="ThoughtWorks" width="100" height="123" class="CToWUd">
      </h1>
      </td>
    </tr>

    <tr>
      <td>
        <table class="main" width="540">
          <tr class="spacer"><td>&nbsp;</td></tr>
          <tr>
            <td>
              <h2>A little gift to say thank you...</h2>
            </td>
          </tr>
          <tr>
            <td>
              <p>Dear xxxx</p>
              <p>We continually hear it is the people at ThoughtWorks who make this place great, and you are one of these people! Congratulations, you have been nominated as a Culture Ambassador.</p>
              <p>Here is a little gift to show how the things you do are appreciated by other TWers</p>
              
            </td>
          </tr>
          <tr class="spacer"><td>&nbsp;</td></tr>
          <tr>
            <td>
              <img class="quote-icon" src="https://ci4.googleusercontent.com/proxy/QxJAJ-E_0UHeEx7e0lzvryOqu2NOGYu5gSxr-Dg--buYY7w2IDaoTas-_ex_ttHm9rAqK2SICjzc9eHD7ZO0xQlGdYbYg_bTwgRjeJtwWwqDUkGjhkG-Jbop=s0-d-e1-ft#http://i1.cmail20.com/ei/i/29/827/112/180155/csfinal/quote_open1.jpg" alt="" width="600" height="45" class="CToWUd">
              <p class="quote-text">You are part of a rare breed an original 'Old Time ThoughtWorker' - Manoj</p>
              <img class="quote-icon" src="https://ci4.googleusercontent.com/proxy/mxrRxdxwKJ7UqHMGlbOzcAcgIt3p5fKuy2kLWIssS8rLHd5q9wVtR_0jUw1eUNwEVoKVK_mLTBm3aH_SUAPlnfpOh87uzJJUkCczHDolR49BsXTphCgwHYfnAw=s0-d-e1-ft#http://i2.cmail20.com/ei/i/29/827/112/180155/csfinal/quote_close1.jpg" alt="" width="600" height="45" class="CToWUd">

              
              <p>
                <img src="https://docs.google.com/uc?id=0B0C9Z10BqDmqQUFDS1I0ZmQ5TlE" alt="prize1" class="prize-img">
                <img src="https://docs.google.com/uc?id=0B0C9Z10BqDmqR0RBSm03R2otZFU" alt="prize2" class="prize-img">
                <img src="https://docs.google.com/uc?id=0B0C9Z10BqDmqRGRlQjlxS1dnMWs" alt="prize3" class="prize-img">
              </p>

              <p class="voucher"><a class="link" href="http://www.capitalandmallasia.com.sg/en/capitavoucher/" rel="nofollow">CapitaVoucher (S$ 50)</a></p>
              <p class="voucher"><a class="link" href="http://www.apple.com/sg/shop/gift-cards" rel="nofollow">Apple Itunes Gift Card Voucher (S$ 50)</a></p>
              <p class="voucher"><a class="link" href="https://ao.popular.com.sg/jsp/gv/gv_order.jsp" rel="nofollow">Popular Voucher (S$ 50)</a></p>
           
              <br />

              <p>A big thank you on behalf of TWSG!</p>
              <p>You can also nominate someone else on <a target="_blank" class="link" href="https://goo.gl/forms/RKmnI8ddhY4pePfz1">ThankTank!</a></p>
            </td>
          </tr>
          
        </table>
      </td>
      
    </tr>
        
  </table>
</body>
</html>